@media(max-width: 1917px) {
  .services__item {
    width: 275px;
  }
}

@media(max-width: 1910px) {
  .services__item {
    margin-bottom: 15px;
    width: 240px;
  }
}

@media(max-width: 1820px) {
  .b-center {
    width: 600px;
    height: 860px;
  }
  .company-info__img {
    width: 300px;
  }
  .company-info__item {
    width: 300px;
  }
  .about-company-inner {
    display: block;
  }
  .company-our {
    margin: 0 auto;
    width: auto;
  }
  .company-our__text {
    font-size: 20px;
    line-height: 34px;
  }
  .company-info {
    margin: 0 auto;
  }
}

@media(max-width: 1720px) {
  .transportation-b-l {
    width: 710px;
  }
  .transportation-b-r {
    width: 710px;
  }
  .transportation__img-absolut {
    right: 550px;
  }
  .services__item {
    width: 215px;
  }
}

@media(max-width: 1640px) {
  .transportation-b-l {
    width: 690px;
  }
  .transportation-b-r {
    width: 690px;
  }
  .transportation__img-absolut {
    right: 532px;
  }
}

@media(max-width: 1600px) {
  .transportation__img-absolut {
    display: none;
  }
}

@media(max-width: 1580px) {
  .services__item {
    width: 200px;
  }
}

@media(max-width: 1430px) {
  .services__our {
    justify-content: space-between;
  }
  .services__item {
    width: 340px;
    margin-bottom: 20px;
  }
  .transportation-b-l {
    width: 100%;
  }
  .transportation-b-r {
    display: none;
  }
  .company-offer__our {
    max-width: 750px;
  }
  .company-offer__title {
    font-size: 54px;
  }
  .company-offer__text {
    font-size: 15px;
    width: 680px;
  }
}

@media(max-width: 1330px) {
  .container {
    margin-left: 16%;
    margin-right: 16%;
  }
}

@media(max-width: 1140px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .company-offer__text {
    font-size: 18px;
  }
}

@media(max-width: 950px) {
  .header-inner__item {
    font-size: 14px;
  }
  .header-inner__number {
    font-size: 14px;
  }
  .header-inner__mail {
    font-size: 14px;
  }
  .company-inner {
    display: block;
  }
  .company-inner__our {
    margin: 0 auto;
  }
  .company-inner__menu {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    justify-content: space-around;
  }
  .company-inner__item {
    margin: 0;
  }
  .footer__number {
    display: none;
  }
  .footer__developer {
    display: none;
  }
  .footer__num-dev_mob {
    display: block;
  }
}

@media(max-width: 862px) {
  .company-offer__title {
    font-size: 45px;
  }
  .company-offer__text {
    font-size: 16px;
    width: 620px;
  }
  .services__our {
    display: block;
  }
  .services__item {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 200px;
  }
  .services__item:last-child {
    margin-bottom: 0;
  }
  .b-center {
    width: 550px;
  }
}

@media(max-width: 786px) {
  .company-offer__title {
    font-size: 40px;
  }
  .company-offer__text {
    font-size: 16px;
    width: 500px;
  }
  .footer__our {
    font-size: 16px;
  }
  .company-info {
    display: block;
  }
  .company-info__text {
    font-size: 20px;
  }
  .company-info__text-small {
    font-size: 14px;
  }
  .company-info__item {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .company-info__our-img_mobil {
    display: flex;
    margin-bottom: 20px;
  }
  .b-center {
    height: 1300px;
  }
  .company-info__img {
    width: 225px;
  }
  .company-info__img_pc {
    display: none;
  }
  .footer__inner {
    display: block;
  }
  .footer__img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .footer__number-text {
    margin-bottom: 25px;
  }
}

@media(max-width: 760px) {
  .transportation-f {
    display: block;
  }
  .transportation-inner {
    width: 100%;
    padding-top: 120px;
  }
  .transportation-inner::before {
    margin-top: 0;
  }
  .transportation-offer {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
    padding-top: 0;
  }
  .transportation-offer__img_back_mobil {
    margin: 0;
    margin-right: 60px;
  }
  .transportation-offer__next {
    margin: 0;
    order: 2;
  }
  .transportation-inner__title {
    width: auto;
  }
  .services__item {
    width: 400px;
  }
  .b-center {
    width: 400px;
  }
  .company-info {
    margin: 0;
    width: auto;
  }
  .company-info__item {
    width: 400px;
  }
  .company-info__our-img_mobil {
    width: 400px;
  }
  .company-info__img {
    width: 200px;
  }
  .services__title {
    margin-top: 186px;
  }
}

@media(max-width: 640px) {
  .company-offer__title {
    font-size: 35px;
  }
  .company-offer__text {
    font-size: 16px;
    width: 440px;
  }
  .footer__our {
    display: block;
  }
  .footer__info {
    text-align: center;
  }
  .footer__num-dev_mob {
    margin-top: 20px;
  }
  .b-center {
    height: 1335px;
  }
}

@media(max-width: 560px) {
  .transportation-offer {
    width: 100%;
  }
  .services__item {
    width: 100%;
  }
  .company-info__item {
    width: 100%;
  }
  .company-info__our-img_mobil {
    width: 100%;
  }
  .company-offer__title {
    font-size: 32px;
  }
  .company-offer__text {
    font-size: 14px;
    width: 385px;
  }
  .transportation-inner::before {
    width: 20%;
  }
  .transportation-inner__title {
    font-size: 32px;
  }
  .transportation-inner__text {
    font-size: 16px;
  }
  .services__title {
    font-size: 32px;
  }
  .services__title::before {
    width: 20%;
  }
  .services__text {
    font-size: 16px;
  }
  .company-our__title {
    font-size: 32px;
  }
  .company-our__title::before {
    width: 20%;
  }
  .company-our__text {
    font-size: 16px;
    line-height: 28px;
  }
  .footer__our {
    font-size: 16px;
  }
  .b-center {
    height: 1370px;
  }
}

@media(max-width: 500px) {
  .company-info__img {
    width: 175px;
  }
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .transportation-offer__text {
    font-size: 15px;
  }
  .transportation-offer__img {
    width: 65px;
  }
}

@media(max-width: 430px) {
  .company-offer__text {
    width: auto;
  }
  .company-inner__menu {
    width: 100%;
    justify-content: space-between;
  }
  .b-center {
    height: 1420px;
  }
}

@media(max-width: 400px) {
  .company-info__img {
    width: 50%;
  }
  .b-center {
    width: 100%;
  }
  .company-inner__our {
    justify-content: center;
    width: 100%;
  }
  .company-inner__office {
    margin-left: 10px;
    padding-left: 10px;
  }
  .transportation-inner__text {
    width: auto;
  }
  .b-center {
    height: 1450px;
  }
}

@media(max-width: 375px) {
  .company-inner__item {
    font-size: 12px;
  }
  .header-inner__item {
    font-size: 13px;
  }
  .header-inner__number {
    font-size: 13px;
  }
  .header-inner__mail {
    font-size: 13px;
  }
  .transportation-inner__title {
    font-size: 30px;
  }
  .transportation-inner__text {
    font-size: 15px;
  }
  .transportation-inner__btn {
    font-size: 14px;
  }
  .services__title {
    font-size: 30px;
  }
  .services__text {
    font-size: 15px;
  }
  .company-our__title {
    font-size: 30px;
  }
  .company-our__text {
    font-size: 15px;
  }
  .footer__our {
    font-size: 15px;
  }
  .transportation-offer__img {
    width: 50px;
  }
  .transportation-offer__text {
    font-size: 14px;
  }
  .transportation-offer__text_right {
    margin-right: 25px;
  }
  .transportation-offer__text_left {
    margin-left: 25px;
  }
}
