/* Specifications */

* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  background: #2F343A;
  color: #ffffff;
}

.container {
  margin-left: 21%;
  margin-right: 21%;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  background: #C8A35F;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-inner__lang {
  width: 82px;
  display: flex;
  justify-content: space-between;
}

.header-inner__item {
  color: #ffffff;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.3s all;
}

.header-inner__item:hover {
  opacity: 1;
}

.header-inner__number {
  font-size: 12px;
}

.header-inner__mail {
  font-size: 12px;
}

/* COMPANY - MENY */

.company-inner {
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-inner__our {
  width: 354px;
  display: flex;
}

.company-inner__office {
  display: flex;
  align-items: center;
  padding-left: 33px;
  border-left: 1px solid #F2F2F2;
  margin-left: 30px;
}

.company-inner__text {
  margin-left: 13px;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.company-inner__menu {
  width: fit-content;
  display: flex;
  text-transform: uppercase;
}

.company-inner__item {
  font-size: 14px;
  color: #ffffff;
  margin-right: 30px;
}

.company-inner__item:last-child {
  margin-right: 0;
}

.company-offer {
  background: url("../img/kamaz.png") no-repeat center top / cover;
  padding-top: 155px;
}

.company-offer__our {
  max-width: 920px;
  border: 1px solid #C8A35F;
  margin: 0 auto;
  box-sizing: border-box;
}

.company-offer__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 64px;
  padding-top: 45px;
  padding-bottom: 45px;
  letter-spacing: 0.05em;
}

.company-offer__text {
  line-height: 28px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 18px;
  width: 707px;
  margin: 0 auto;
}

.company-offer__mouse {
  text-align: center;
  margin-top: 140px;
  padding-bottom: 50px;
}

/* TRANSPORTATION */

.transportation {
  position: relative;
}

.transportation-b-l {
  position: absolute;
  left: 0;
  width: 755px;
  background: #393F47;
  height: 561px;
}

.transportation-b-r {
  position: absolute;
  right: 0;
  width: 755px;
  background: #393F47;
  height: 561px;
}

.transportation__img-absolut {
  position: absolute;
  top: 166px;
  right: 595px;
}

.transportation-f {
  display: flex;
  justify-content: space-between;
}

.transportation-inner {
  position: sticky;
  width: fit-content;
}

.transportation-inner::before {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  margin-bottom: 40px;
  background: #C8A35F;
  margin-top: 120px;
}

.transportation-inner__title {
  font-size: 40px;
  text-transform: uppercase;
  width: 415px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.transportation-inner__text {
  font-size: 18px;
  line-height: 28px;
  width: 360px;
}

.transportation-inner__btn {
  margin-top: 50px;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  padding: 18px 49px;
  width: fit-content;
  background: #C8A35F;
}

.transportation-offer {
  position: sticky;
}

.transportation-offer__img {
  display: block;
}

.transportation-offer__img_next {
  margin-top: 156px;
  margin-bottom: 245px;
}

.transportation-offer__img_back_mobil {
  display: none;
}

.transportation-offer__img_next_mobil {
  display: none;
}

/* SERVICES */

.services__title {
  margin-top: 250px;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.services__title::before {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  margin-bottom: 40px;
  background: #C8A35F;
}

.services__our {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__item {
  width: 277px;
  background: #393F47;
  transition: 0.3s all;
}

.services__item:hover{
  background: #C8A35F;
}

.services__item:hover i{
  background: #FFFFFF;
  color: #2F343A;
}

.services__icon {
  padding-top: 35px;
  text-align: center;
  padding-bottom: 27px;
}

.services__i {
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  transform: rotate(-40deg);
  transition: 0.3s all;
}

.services__text {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding-bottom: 36px;
}

/* ABOUT - COMPANY */

.about-company {
  position: relative;
}

.b-center {
  width: 410px;
  height: 482px;
  background: #393F47;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.about-company-inner {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 202px;
}

.company-our {
  width: 445px;
  position: relative;
  padding-top: 80px;
}

.company-our__title {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.company-our__title::before {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  margin-bottom: 40px;
  background: #C8A35F;
}

.company-our__text {
  font-size: 16px;
  line-height: 23px;
}

.company-info {
  display: flex;
  width: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding-top: 80px;
}

.company-info__item {
  width: 200px;
  color: black;
  background: #ffffff;
  text-align: center;
  border: 0.25px solid #C8A35F;
  box-sizing: border-box;
}

.company-info__our-img {
  display: flex;
}

.company-info__title {
  text-align: center;
  padding-top: 23px;
  font-size: 64px;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin-bottom: 10px;
}

.company-info__text {
  letter-spacing: 0.05em;
  font-size: 18px;
  margin-bottom: 15px;
}

.company-info__text-small {
  font-size: 12px;
  padding-bottom: 25px;
}

.company-info__our-img_mobil {
  display: none;
  width: 550px;
  margin: 0 auto;
  justify-content: space-between;
}

.company-info__img {
  width: 200px;
  border: 0.25px solid #C8A35F;
}

/* MAP */

.map__img {
  height: 450px;
  background: linear-gradient(0deg, rgba(57, 63, 71, 0.6), rgba(57, 63, 71, 0.6)),url("../img/maps.png") no-repeat center top / cover;
}

/* FOOTER */

.footer {
  background: #C8A35F;
}

.footer__our {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 60px;
  font-size: 14px;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__img {
  margin-right: 30px;
}

.footer__info-text_black {
  margin-top: 10px;
  color: #2F343A;
}

.footer__number-text {
  margin-bottom: 10px;
}

.footer__number-text:last-child {
  margin-bottom: 0;
}

.footer__developer {
  display: flex;
  align-items: flex-end;
}

.footer__developer-text {
  text-decoration-line: underline;
  color: #2F343A;
}

.footer__num-dev_mob {
  display: none;
  text-align: center;
}

/* MEDIA */

@media(max-width: 1910px) {
  .services__item {
    margin-bottom: 15px;
    width: 240px;
  }
}

@media(max-width: 1820px) {
  .b-center {
    width: 600px;
    height: 860px;
  }
  .company-info__img {
    width: 300px;
  }
  .company-info__item {
    width: 300px;
  }
  .about-company-inner {
    display: block;
  }
  .company-our {
    margin: 0 auto;
    width: auto;
  }
  .company-our__text {
    font-size: 17px;
    line-height: 26px;
  }
  .company-info {
    margin: 0 auto;
  }
}

@media(max-width: 1720px) {
  .transportation-b-l {
    width: 710px;
  }
  .transportation-b-r {
    width: 710px;
  }
  .transportation__img-absolut {
    right: 550px;
  }
  .services__item {
    width: 215px;
  }
}

@media(max-width: 1640px) {
  .transportation-b-l {
    width: 690px;
  }
  .transportation-b-r {
    width: 690px;
  }
  .transportation__img-absolut {
    right: 532px;
  }
}

@media(max-width: 1600px) {
  .transportation__img-absolut {
    display: none;
  }
}

@media(max-width: 1580px) {
  .services__item {
    width: 200px;
  }
}

@media(max-width: 1430px) {
  .services__our {
    justify-content: space-between;
  }
  .services__item {
    width: 340px;
    margin-bottom: 20px;
  }
  .transportation-b-l {
    width: 100%;
  }
  .transportation-b-r {
    display: none;
  }
  .company-offer__our {
    max-width: 750px;
  }
  .company-offer__title {
    font-size: 54px;
  }
  .company-offer__text {
    font-size: 15px;
    width: 680px;
  }
}

@media(max-width: 1330px) {
  .container {
    margin-left: 16%;
    margin-right: 16%;
  }
}

@media(max-width: 1140px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .company-offer__text {
    font-size: 18px;
  }
}

@media(max-width: 950px) {
  .header-inner__item {
    font-size: 14px;
  }
  .header-inner__number {
    font-size: 14px;
  }
  .header-inner__mail {
    font-size: 14px;
  }
  .company-inner {
    display: block;
  }
  .company-inner__our {
    margin: 0 auto;
  }
  .company-inner__menu {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    justify-content: space-around;
  }
  .company-inner__item {
    margin: 0;
  }
  .footer__number {
    display: none;
  }
  .footer__developer {
    display: none;
  }
  .footer__num-dev_mob {
    display: block;
  }
}

@media(max-width: 862px) {
  .company-offer__title {
    font-size: 45px;
  }
  .company-offer__text {
    font-size: 16px;
    width: 620px;
  }
  .services__our {
    display: block;
  }
  .services__item {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 200px;
  }
  .services__item:last-child {
    margin-bottom: 0;
  }
  .b-center {
    width: 550px;
  }

}

@media(max-width: 786px) {
  .company-offer__title {
    font-size: 40px;
  }
  .company-offer__text {
    font-size: 16px;
    width: 500px;
  }
  .footer__our {
    font-size: 16px;
  }
  .company-info {
    display: block;
  }
  .company-info__text {
    font-size: 20px;
  }
  .company-info__text-small {
    font-size: 14px;
  }
  .company-info__item {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .company-info__our-img_mobil {
    display: flex;
    margin-bottom: 20px;
  }
  .b-center {
    height: 1300px;
  }
  .company-info__img {
    width: 225px;
  }
  .company-info__our-img {
    display: none;
  }
  .footer__inner {
    display: block;
  }
  .footer__img {
    margin-right: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer__number-text {
    margin-bottom: 25px;
  }
}

@media(max-width: 760px) {
  .transportation-f {
    display: block;
  }
  .transportation-inner {
    width: 100%;
    padding-top: 120px;
  }
  .transportation-inner::before {
    margin-top: 0;
  }
  .transportation-offer {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    margin-top: 40px;
    width: 75%;
    justify-content: space-between;
  }
  .transportation-offer__img_back_mobil {
    margin: 0;
    margin-right: 60px;
  }
  .transportation-offer__img_next {
    margin: 0;
    order: 2;
  }
  .transportation-inner__title {
    width: auto;
  }
  .services__item {
    width: 400px;
  }
  .b-center {
    width: 400px;
  }
  .company-info {
    margin: 0;
    width: auto;
  }
  .company-info__item {
    width: 400px;
  }
  .company-info__our-img_mobil {
    width: 400px;
  }
  .company-info__img {
    width: 200px;
  }
  .services__title {
    margin-top: 186px;
  }
}

@media(max-width: 640px) {
  .company-offer__title {
    font-size: 35px;
  }
  .company-offer__text {
    font-size: 16px;
    width: 440px;
  }
  .footer__our {
    display: block;
  }
  .footer__info {
    text-align: center;
  }
  .footer__num-dev_mob {
    margin-top: 20px;
  }
  .b-center {
    height: 1335px;
  }
}

@media(max-width: 560px) {
  .transportation-offer {
    width: 100%;
  }
  .services__item {
    width: 100%;
  }
  .company-info__item {
    width: 100%;
  }
  .company-info__our-img_mobil {
    width: 100%;
  }
  .company-offer__title {
    font-size: 32px;
  }
  .company-offer__text {
    font-size: 14px;
    width: 385px;
  }
  .transportation-inner::before {
    width: 20%;
  }
  .transportation-inner__title {
    font-size: 32px;
  }
  .transportation-inner__text {
    font-size: 16px;
  }
  .services__title {
    font-size: 32px;
  }
  .services__title::before {
    width: 20%;
  }
  .services__text {
    font-size: 16px;
  }
  .company-our__title {
    font-size: 32px;
  }
  .company-our__title::before {
    width: 20%;
  }
  .company-our__text {
    font-size: 16px;
    line-height: 28px;
  }
  .footer__our {
    font-size: 16px;
  }
  .b-center {
    height: 1370px;
  }
}

@media(max-width: 500px) {
  .company-info__img {
    width: 175px;
  }
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media(max-width: 430px) {
  .company-offer__text {
    width: auto;
  }
  .company-inner__menu {
    width: 100%;
    justify-content: space-between;
  }
  .transportation-offer__img {
    width: 145px;
  }
  .b-center {
    height: 1420px;
  }
}

@media(max-width: 400px) {
  .company-info__img {
    width: 50%;
  }
  .b-center {
    width: 100%;
  }
  .company-inner__our {
    justify-content: center;
    width: 100%;
  }
  .company-inner__office {
    margin-left: 10px;
    padding-left: 10px;
  }
  .transportation-inner__text {
    width: auto;
  }
  .b-center {
    height: 1450px;
  }
}

@media(max-width: 375px) {
  .company-inner__item {
    font-size: 12px;
  }
  .header-inner__item {
    font-size: 13px;
  }
  .header-inner__number {
    font-size: 13px;
  }
  .header-inner__mail {
    font-size: 13px;
  }
  .transportation-inner__title {
    font-size: 30px;
  }
  .transportation-inner__text {
    font-size: 15px;
  }
  .transportation-inner__btn {
    font-size: 14px;
  }
  .transportation-offer__img {
    width: 135px;
  }
  .services__title {
    font-size: 30px;
  }
  .services__text {
    font-size: 15px;
  }
  .company-our__title {
    font-size: 30px;
  }
  .company-our__text {
    font-size: 15px;
  }
  .footer__our {
    font-size: 15px;
  }
}
